.bg-light {
  .post-card {
    cursor: pointer;
    .avatar-img {
      width: 3.5rem;
      height: 3.5rem;
    }
    .post-description {
      line-break: anywhere;
      max-width: 745px;
      width: 100%;
      font-size: 16px !important;
      color: black !important;
      padding: 0 20px;
    }
    .img-post {
      max-width: 550px;
      width: 100%;
      max-height: 350px;
    }
    .like-section {
      ul {
        list-style: none;
        li {
          font-size: 23px;
          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
    .comment-box {
      background: #d2d5d9;
      border-radius: 15px;
      padding: 15px;
    }
    ul {
      list-style: none;
    }
  }

  .title-text{
    font-size: 18px;
    font-weight: 600;
  }
}
::ng-deep {
  .bg-light {
    .post-card {
      .post-description {
        a {
          color: #8a93a2 !important;
          font-size: 16px;
          margin-top: 10px;
          font-weight: 600;
        }
        img {
          max-width: 550px;
          max-height: 350px;
        }
        img[src$=".gif"] {
          max-height: 60px !important;
          max-width: 60px;
          height: 100%;
          width: 100%;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        span,
        b,
        p,
        em,
        div,
        strong,
        li {
          font-size: 18px !important;
          line-height: 22px !important;
          margin: unset !important;
          letter-spacing: unset !important;
          background-color: unset !important;
          font-weight: 400 !important;
          color: unset !important;
          text-wrap: unset !important;
        }
      }
    }
  }
}
